<div class="flex">
    <mat-form-field appearance="outline">
        <mat-label>Sorting Users</mat-label>
        <mat-select #list (selectionChange)="sort(list.value)">
            <mat-option value="0">
                from A to Z
            </mat-option>
            <mat-option value="1">
                from Z to A
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #input (input)="search(input.value)">
        <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
    </mat-form-field>
</div>

<div class="flex">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="role">
            <mat-option value="0">
                User
            </mat-option>
            <mat-option value="1">
                Admin
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="addUser()">Add user</button>
    </div>

</div>

<mat-selection-list #users>
    <mat-list-option *ngFor="let user of usersList; index as i" 
                    [ngClass]="{gray: i%2, flex: true}"
                    [value]="user"
                    >
        <div class="flex">
            <span>{{ user.name }}</span>
            <span>{{ user.username }}</span>
            <span>{{ user.role }}</span>
        </div>
    </mat-list-option>
</mat-selection-list>

<div class="flex">
    <div>
        <p>
            Options selected: {{ users.selectedOptions.selected.length }}
        </p>
    </div>

    <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="deleteSelectedUsers(users.selectedOptions.selected)">Delete</button>
    </div>
</div>

